$bg-color: #090323;
$grey-color: #8d8d91;
$ligh-white: #f4f1f1d5;
$green: #2ea44f;
$yellow: #f0ae27;
$light-yellow: #D09624;
$purple: #9c27b0;
$blue: rgb(1, 180, 228);
$dark-blue: rgb(3,37,65);

$font-family: "REM" , sans-serif;
$font-family-sans: "Source Sans 3";
$font-roboto: 'Roboto Condensed', sans-serif;
$ico: FontAwesome;

$mobile-width: 600px;

$textSize: 15px;
$buttonSize: 16px;